<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>
    <div class="password">
        <div>
            <h5>Admin</h5>
            <p><i>username:</i>rozivoy </p>
            <p><i>password:</i>902060690 </p>
        </div>
        <div>
            <h5>Teacher</h5>
            <p><i>username:</i>baxtiyor </p>
            <p><i>password:</i>901001010 </p>
        </div>
        <div>
            <h5>Student</h5>
            <p><i>username:</i>abdulloh </p>
            <p><i>password:</i>991001010 </p>
        </div>
    </div>
    <center>
        <form action="/" method="post">
            <h2>Login</h2>
            <input type="text" name="username" placeholder="username ... " required>
            <input type="text" name="password" placeholder="password ... " required>
            <button type="submit">Login</button>
        </form>
    </center>
</body>
</html>